numpy # for numerical computations
pandas # for data manipulation and analysis

#face recognition
scikit-learn # for machine learning algorithms used in face recognition
dlib-bin # precompiled dlib wheel for Windows, compatible with Python 3.13 and 64-bit architecture
#dlib-20.0.99-cp313-cp313-win_amd64.whl
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

supabase # for database interactions with Supabase
bcrypt # for password hashing

segno # for QR code generation
pillow # for image processing, required by segno for QR code generation

streamlit # for building the web application interface
